name: Rebuild APK

on:
  push:
    branches:
      - automate-rebuild-apk

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up APKTool
      run: |
        wget https://github.com/iBotPeaches/Apktool/releases/download/v2.7.0/apktool_2.7.0.jar -O apktool.jar
        echo "java -jar apktool.jar \"$@\"" > apktool
        chmod +x apktool
        sudo mv apktool /usr/local/bin/

    - name: Extract decompiled APK zip
      run: |
        mkdir -p decompiled_apk
        unzip BimmerLink.ver.2.36.6-6860.build.6860.apk_Decompiler.com.zip -d decompiled_apk

    - name: Rebuild APK using APKTool
      run: |
        apktool b decompiled_apk -o rebuilt_apk.apk

    - name: Optimize APK with zipalign
      run: |
        wget https://dl.google.com/android/repository/build-tools_r31.0.0-linux.zip
        unzip -j build-tools_r31.0.0-linux.zip "*/zipalign" -d ./
        chmod +x zipalign
        ./zipalign -f 4 rebuilt_apk.apk aligned_apk.apk

    - name: Upload Rebuilt APK
      uses: actions/upload-artifact@v3
      with:
        name: Rebuilt-APK
        path: aligned_apk.apk
